<h1 class="forecast-header">Forecast for next 5 days ({{city}})</h1>
<div class="forecast-container">
  <div class="inner-container" *ngFor="let forecast of weatherForecasts; let i = index">
    <h3>Day {{i + 1}}</h3>
   <p><strong>Temperature:</strong>{{forecast.main.temp | temperature}}°</p>
    <p><strong>Sea Level:</strong> {{forecast.main.sea_level | hpaToMeter}} meters</p>
</div>
</div>

