.forecast-header {
  text-align: center;
}

.forecast-container {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
  padding: 24px;
  background-color: #101820FF;
  color: #FEE715FF

}


@media (min-width: 320px) and (max-width: 767px) {
  .forecast-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
