<div class="city-info-container">
  <div (click)="goToDetails(detail)" *ngFor="let detail of cityInfo" class="city-info" >
   <img src="assets/weather.png" width="80" height="80">
   <h2>{{detail.name}}</h2>
    <p><strong>Temperature:</strong> {{detail.temp | temperature}}°</p>
    <p><strong>Sun Rise:</strong> {{detail.sunrise | date:'shortTime' : 'GMT +2'}}</p>
    <p><strong>Sun Set:</strong> {{detail.sunset | date:'shortTime': 'GMT +2'}}</p>
  </div>
</div>
