.city-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:12px;

  .city-info {
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    color: #8BD8BD;
    background-color: #210070;
    text-align: center;
    min-width: 15%;
    cursor: pointer;
  }
}



@media (min-width: 320px) and (max-width: 767px) {
  .city-info-container {
    flex-direction: column;

    .city-info {
      margin-top: 16px
    }
  }
}
